<h1></h1>
<center>
<body bgcolor="#676767">
<table border=1 bgcolor="#d6d0d0" width=500px height=500px >
<tr>
    <td align=center>
        <TituloGrande>Hola # Bienvenido Leo</TituloGrande><br>
    </td>
</tr>
<tr>
    <td align=center>
    <%= link_to "Base de Usuarios", usuarios_path %>
    </td>
</tr>
</center>